.content {
    margin: 0 auto;
    max-width: 600px;
}

.cart {
    display: block;
    padding: 64px 16px 16px;
}

.cart-item {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 24px;
}

.cart-item-image {
    height: 72px;
    width: 72px;
}

.cart-item-image img {
    height: 100%;
    width: 100%;
}

.cart-item-title {
    flex: 2;
    font-weight: 500;
    margin-left: 24px;
}

.cart-item-quantity {
    flex: 1 1 70px;
    margin-right: 24px;
}

.cart-item-price {
    width: 40px;
}

.cart-item-remove {
    margin-left: 48px;
}

.cart-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.cart-actions .total {
    margin: 0 64px 0 24px;
}
