<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let c of categories" [routerLink]= "['/categories', c]" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    {{c | uppercase}}
  </a>
</nav>
<div class="grid-list-container">
  <mat-grid-list cols="3">
    <mat-grid-tile class="product-grid-tile" *ngFor="let p of products">
      <gcg-product-tile class="product-tile" [product]="p" [routerLink]="['/products', p._id]"></gcg-product-tile>
    </mat-grid-tile>
  </mat-grid-list>
</div>
