.checkout{
    display: block;
    padding: 64px 24px 24px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 0;
}

header span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.grid {
    margin: 48px auto 0;
    max-width: 900px;
    display: flex;
}

.grid section {
    flex: 1;
}

.grid section:not(:first-child) {
    margin-left: 80px;
}

.grid h2{
    font-size: 13px;
    font-weight: 700;
    margin: 8px 0;
}

.grid .row {
    height: 72px;
    display: flex;
    align-items: center;
}

.mat-input-wrapper {
    position: relative;
}

.mat-input-wrapper {
    padding-bottom: 1.296875em;
}

.mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    width: 100%;
    vertical-align: bottom;
}

.mat-form-field{
  width: 100%
}

.grid .row > *:not(:first-child) {
    margin-left: 8px;
}

mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #00bcd4;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    color: white;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #00bcd4;
    width: 100%;
}

.grid .row > * {
    flex: 1;
}

.grid .row.expiry {
    position: relative;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    width: 112px;
    margin-left:8px;
}

.grid .row {
    height: 72px;
    display: flex;
    align-items: center;
}

.grid .row.expiry label {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 8px;
}

.mat-select-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
}

.grid .row > * {
    width: 112px;
    flex: 1;
}
