:host {
    cursor: pointer;
    background: white;
    height: 98%;
    width: 98%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail {
  background: no-repeat 50% 50%;
  background-size: contain;
  height: 50%;
  width: 50%; }

.title {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Abril Fatface", cursive;
  font-size: 34px; }
  @media (max-width: 960px) {
    .title {
      font-size: 24px; } }
  @media (max-width: 600px) {
    .title {
      font-size: 20px; } }
