   .product-details{
    display: flex;
    align-items: center;
    padding: 128px 0 64px;
    justify-content: center;
   }

   .quantity {
    margin-top: 20px;

    display: flex;
    align-items: center;
   }

   .content{
    text-align: left;
    align-items: center;
    flex: 0 1 400px;
   }

   .image{
     float: left;
   }

   .thumbnail {
    background: no-repeat 50% 50%;
    background-size: contain;
    height: 50%;
   }
